/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 *
 * Tabbed Style 0.026
 *
 */

.sttb01tb {
	background-color: pink;

	.sttb01tb__tabbedcontent {
		overflow: hidden;
	}

	.sttb01tb__tabbednavigator,
	.sttb01tb__tabbedNavigator {
		ul {
			display: flex;
			list-style: none;
			justify-content: space-between;
			padding: 0;
		} 

		.tabbedNavigationMarker {
			cursor: pointer;
		}
	}
}

.sttb01tb__containinghelper {
	display: flex;

	.sttb01tb__tabbedcontent {
		margin: 0px;
	}
}