.block-feature-posts article {
    padding: 20px;
    align-items: stretch;
    background: #aaa;
    margin: 1% 0 5%;
    display: flex;
    padding: 20px 0 20px 20px;
}

@media only screen and (max-width: 768px) {
    .block-feature-posts article {
        display: block;
        padding: 0px 0px 1%;
    }
}

.block-feature-posts article .article-image.imagelink {
    order: 0;
    box-shadow: none;
    margin: -20px 0px -20px -20px;
    z-index: 2000;
    position: relative;
    height: auto;
    align-content: stretch;
    border: 0px;
}

@media only screen and (max-width: 768px) {
    .block-feature-posts article .article-image.imagelink {
        margin: 0px;
    }
}

.block-feature-posts article .article-image.imagelink img {
    height: 100%;
    box-shadow: none;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .block-feature-posts article .article-image.imagelink img {
        padding: 0;
    }
}

.block-feature-posts article .article-text-block {
    background: #fff;
    position: relative;
    z-index: 9000;
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    margin-right: 20px;
}

.block-feature-posts article .article-text-block {
    margin-left: -64px;
}

@media only screen and (max-width: 768px) {
    .block-feature-posts article .article-text-block {
        margin: 5%;
        padding: 5%;
        width: 80%;
    }
}

.block-feature-posts article .article-text-block .article-title {
    margin: 0;
}